@charset "UTF-8";
 
#header {z-index:3;position:fixed;top:0;left:0;width:100%;border-bottom:1px solid rgba(225,225,225, 0.1);background:transparent;}
#header .wrap {width:1170px;height:75px;margin:0 auto;}
#header .wrap .padding-wrap {}
#header .wrap .padding-wrap .left {}
#header .wrap .padding-wrap .right {}

#main   {z-index:2;position:relative;width:100%;}
#main #section01/*넓이, 높이, 배경으로 확인하는게 제일 첫 순서*/ {z-index:1;position:relative;width:100%;height:969px;/*높이 디폴트값*/background:url(../img/slider-img4.jpg) no-repeat 50% 0 fixed/* 스크롤안됨 */;background-size:cover;}
#main #section01:after {z-index:2;position:relative;content:"";display:block;width:100%;height:100%;background:#252525;opacity:.7;}
#main #section01 .main-txt {z-index:3;position:absolute;top:382px;text-align:center;display:inline-block;width:100%;}
#main #section01 .main-txt > img {width:100%;max-width:542px;}
#main #section01 .arrow-btn {z-index:3;position:absolute;bottom:60px;left:50%;margin-left:-16px;width:32px;height:32px;}
#main #section01 .arrow-btn > a {display:block;width:100%;height:100%;}
#main #section01 .arrow-btn > a > img {width:100%;height:100%;}

#main #section02 {width:100%;height:969px;background:url(../img/restaurant-img1.jpg) no-repeat 50% 0 fixed;background-size:cover;}
#main #section03 {width:100%;height:969px;background:url(../img/restaurant-img2.jpg) no-repeat 50% 0 fixed;background-size:cover;}
#main #section04 {width:100%;height:969px;background:url(../img/restaurant-img3.jpg) no-repeat 50% 0 fixed;background-size:cover;}
#footer {z-index:1;position:relative;width:100%;}